/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-color: #fdc514;
    font-family: Berlin_Sans;
}

@font-face {
    font-family: Berlin_Sans;
    src: url(BerlinSansFBRegular.ttf);
} */


body{
    background-color: #fdc514;
    font-family: VCROSDMono;
}

@font-face {
    font-family: VCROSDMono;
    src: url(VCR_OSD_MONO_1.001.ttf);
}


.header {
    position: relative;
}

.header button {
    position: absolute;
    right: 20px;
}
